# Bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Compiled Cython extensions
*.c
*.cpp
*.so
*.pyd
cython_debug/

# Build artifacts
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter and IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Test & coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/
.hypothesis/

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Docs
docs/_build/
site/

# Sphinx config files
*.doctree
*.pickle

# PDM / Poetry / Pipenv / PyPI config
.pdm.toml
.pdm-python
.pdm-build/
.pypirc

# Ruff
.ruff_cache/
